extends layout

block content
    .container
        h1 Applicants
        
        ul#applications.list-unstyled
            for applicant in applicants
                li
                    div.applicant-container
                        h4= applicant.name
                        p Bio: #{applicant.bio}
                        p Skills:
                        ul
                            for skill in applicant.skills
                                li= skill
                        br
                        p Years Experience: #{applicant.years}
                        p Why work here? #{applicant.why}
                        hr