extends layout

block content
    .container
        h1= applicant.name
        p Bio: #{applicant.bio}
        p Skills: #{applicant.skills}
        p Years Experience: #{applicant.years}
        p Why Work Here?: #{applicant.why}